html { 
  /*background: url(../img/bg.jpg) no-repeat center center fixed; */
  background: rgba(16, 16, 16, 0.88) url(../img/bg.jpg) no-repeat scroll 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 850px) {
}

@media (min-width: 1250px) {
}